
body {
	margin: 0;
	background-color: #000;
	overscroll-behavior: none;
  font-family: Poppins, sans-serif;
  color: #dbdbdb;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
}

#panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  left: 0px;
  z-index: 100;
  overflow: auto;
  background-color: #0D0D0D;
}

#header {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: start;
  padding: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid #DBDBDB;
}

#scenes {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

